<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Stamper.DataAccess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Stamper.DataAccess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Stamper.DataAccess.Properties.Settings>
            <setting name="ImgurClientID" serializeAs="String">
                <value>dce5df8690ec005</value>
            </setting>
            <setting name="IgnoreUpdates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastSaveDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="LastFilename" serializeAs="String">
                <value />
            </setting>
        </Stamper.DataAccess.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Stamper.DataAccess.Properties.Settings>
            <setting name="Version" serializeAs="String">
                <value>v1.2.0</value>
            </setting>
            <setting name="GitHubUserAgent" serializeAs="String">
                <value>Stamper</value>
            </setting>
            <setting name="DefaultFilename" serializeAs="String">
                <value>token</value>
            </setting>
        </Stamper.DataAccess.Properties.Settings>
    </applicationSettings>
</configuration>